/* MEDIA QUERIES */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
    padding: 2%;
  }

  body {
    font-size: 0.95rem;
  }

  .MainIndex {
    flex-direction: column;
    align-items: center;
  }

  .perfilIndex,
  .perfilPage1,
  .perfilPage2,
  .perfilPage3,
  .perfilPage4 {
    flex-direction: column;
    width: 90%;
    align-items: center;
  }

  .hdivizq,
  .hdivder {
    width: 100%;
    text-align: center;
  }

  .izquierda,
  .derecha {
    padding: 1%;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .izquierda img {
    width: 70%;
  }

  .texto {
    font-size: 0.95rem;
    padding: 4%;
  }

  .boton-personalizado-summary {
    font-size: 0.9rem;
    padding: 0.8em 1em;
    width: 90%;
    margin: 0.5em auto;
    display: block;
  }
}
